@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.card {
    
    margin-top: -2% ;
    border-color: #ffc727;

}
img {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}
h5 {
    text-align: center;
}
.card-footer {
    background-color: #ffc727;
}
.edit {
 margin-left: 40%;
 color: #1A5276;
 font-size: 32px;  
}
.trash {  
margin-left: 8%;
color: red;
font-size: 30px;  
}
.col {
    align-content: center; 
    padding: 50px 30px 30px 10px; 
}
.card-title {
    color: #1A5276 ;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    
}
.card-text {
    text-align: center;
}

.text-center {
    color: #1A5276 ;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.modal-title {
    color: #f5bf69 ;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.col-sm-4 {
    color: #1A5276 ;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.btn1 {
    float: right;
    width: 150px;
    border-color: #ffc727; 
    background-color: white ;
    color: #1A5276;
  }
.btn1:hover {
    background-color: #1A5276;
    color: #ffc727;
}
.modal-footer {
    height: 100%;
    width: 100%;
}
